<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vacontentprovider">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VAContentProvider"
        android:requestLegacyExternalStorage="true" >

        <provider
            android:authorities="com.example.vacontentprovider"
            android:name=".VADatabaseProvider"
            android:exported="true"
            android:enabled="true"
            tools:ignore="ExportedContentProvider" />

    </application>

</manifest>